<!-- home.component.html -->
<div class="home">
    <img src="assets/imagen-empresarial.jpg" alt="Imagen Empresarial" class="empresa-imagen">
    
    <h2>Ofertas</h2>
    <div id="carouselOfertas" class="carousel slide" data-bs-ride="carousel">
      <!-- Añadir items del carrusel de ofertas aquí -->
    </div>
    
    <h2>Productos</h2>
    <div id="carouselProductos" class="carousel slide" data-bs-ride="carousel">
      <!-- Añadir items del carrusel de productos aquí -->
    </div>
  </div>
  